{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center align-items-center mt-5">
    <div class="col-lg-8 text-center">
        <i class="bi bi-car-front-fill text-primary" style="font-size: 5rem;"></i>
        
        <h1 class="display-4 fw-bold mt-3 mb-4 text-body">Chytré firemní parkování</h1>
        <p class="lead text-secondary mb-5 px-md-5">
            Zajistěte si své parkovací místo včas. Systém pro snadnou správu a rezervaci firemních parkovacích míst.
        </p>
        
        <div class="d-flex justify-content-center gap-3">
            {% if user.is_authenticated %}
                <a href="{% url 'reservation_create' %}" class="btn btn-primary btn-lg px-5 py-3 shadow-sm">
                    <i class="bi bi-calendar-check me-2"></i> Nová rezervace
                </a>
                <a href="{% url 'dashboard' %}" class="btn btn-body bg-body btn-lg px-5 py-3 border shadow-sm text-body">
                    Moje místa
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg px-5 py-3 shadow-sm">
                    Vstoupit do systému <i class="bi bi-arrow-right ms-2"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}